li{list-style: none;}
a{text-decoration: none;}
header{
    margin: 43px 30% 0 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 134px;
}
.rightNav ul {
    display: flex;
    
}
.rightNav ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #4B321D;
    
}
.rightNav ul li:not(:last-child){
     margin-right: 36px;
} 
.creating h2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 100px;
color: #4B321D;
margin: 134px 30% 134px 60px ;
}
.guyLooking{
    background-image: url(/img/guyLookingOnWindow.png);
    margin: 0 20px;
    height: 928px;
    background-size: 100%;
    background-repeat: no-repeat;
}
